@model IEnumerable<Insurance_Final_Version.Models.InsuranceViewModel>?

@{
    ViewData["Title"] = "Customer Insurances";
    ViewData["Insurances"] = Model;
}

<h1>Customer's Insurances</h1>
<br>
<p class="justify-content-center">
    <a type="button" class="btn btn-primary" asp-action="Create" asp-route-customerid="@ViewData["CustomerId"]">Add Insurance</a> |
    <a type="button" class="btn btn-outline-info" asp-action="Details" asp-controller="Customers" asp-route-id="@ViewData["CustomerId"]">Customer</a>
</p>
<div id="CustomerInsurancesPartial">
    @await Html.PartialAsync("_CustomerInsurancesPartial", Model, ViewData)
</div>
