@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    I don't really have any privacy policy, the project didn't require one.<br>
    But I didn't bother deleting this page yet, since it could be useful.
</p>
